# Ferfoui

## {{ who_am_i_title }}

👋 {{ who_am_i_text }}

## {{ mastered_programming_languages_title }}

**Java** *({{ java_time_text }})*

[<img src="https://cdn3.emoji.gg/emojis/java.png" width="64px" height="64px" alt="java">](https://www.java.com)

**Python** *({{ python_time_text }})*

[<img src="https://cdn3.emoji.gg/emojis/1887_python.png" width="64px" height="64px" alt="python">](https://www.python.org)

**C** *({{ c_time_text }})*

[<img src="https://upload.wikimedia.org/wikipedia/commons/1/19/C_Logo.png" height="64px" alt="c_language">](https://learn.microsoft.com/cpp/c-language)

**C++** *({{ cpp_time_text }})*

[<img src="https://cdn3.emoji.gg/emojis/8241-c-plus-plus.png" width="64px" height="64px" alt="c_plus_plus">](https://learn.microsoft.com/cpp)

## {{ other_things_title }}

⚡ {{ other_things_text }}

🌱 {{ currently_learning_text }}

🎮 {{ hobbies_text }}

📫 {{ contact_text }}

## {{ github_stats_title }}

![Ferfoui's GitHub stats](https://github-readme-stats.vercel.app/api?username=Ferfoui&show_icons=true&theme=radical)

{{ other_languages_buttons }}
