# Ferfoui

## {{ who_am_i_title }}

{{ who_am_i_text }}

{{ who_am_i_text_2 }}

## {{ mastered_programming_languages_title }}

**Java** *({{ java_level_text }})*

[<img src="https://cdn3.emoji.gg/emojis/java.png" width="64px" height="64px" alt="java">](https://www.java.com)

**Kotlin** *({{ kotlin_level_text }})*

[<img src="https://upload.wikimedia.org/wikipedia/commons/3/37/Kotlin_Icon_2021.svg" width="64px" height="64px" alt="kotlin">](https://kotlinlang.org)

**Python** *({{ python_level_text }})*

[<img src="https://cdn3.emoji.gg/emojis/1887_python.png" width="64px" height="64px" alt="python">](https://www.python.org)

**C++** *({{ cpp_level_text }})*

[<img src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg" width="64px" height="64px" alt="c_plus_plus">](https://learn.microsoft.com/cpp)

**C** *({{ c_level_text }})*

[<img src="https://upload.wikimedia.org/wikipedia/commons/1/19/C_Logo.png" height="64px" alt="c_language">](https://learn.microsoft.com/cpp/c-language)

**Rust** *({{ rust_level_text }})*

[<img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Rust_programming_language_black_logo.svg" width="64px" height="64px" alt="rust">](https://www.rust-lang.org)

## {{ other_things_title }}

⚡ {{ other_things_text }}

🤖 {{ robotics_text }}

🌱 {{ currently_learning_text }}

🎮 {{ hobbies_text }}

📫 {{ contact_text }}

## {{ github_stats_title }}

![Ferfoui's GitHub stats](https://github-readme-stats.vercel.app/api?username=Ferfoui&show_icons=true&theme=radical)

{{ other_languages_buttons }}

<!--- {{ generated_text }} -->
